body{
  background-color: aliceblue;
  display: grid;
}

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px;
  grid-gap: 20px;
  transition: all 1s;
}

/* .restore {
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px;
} */

.item{
  background-color: brown;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 30px 40px;
  font-weight: bold;
  font-size: 2rem;
  
}

button{
  background-color: #123456;
  color: white;
  text-transform: uppercase;
  margin: 2rem 0;
  padding: .8rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
}